.side {
  margin: 0;
  display: grid;
  grid-template-rows: 200px;
  background: #222831;
  overflow-y: scroll;
}

.logo {
  img {
    width: 100%;
    height: 100%;
  }
}

.bar {
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .statements {

    &>div {
      min-height: 100%;

      &>div {
        display: flex !important;
        height: 70px;
        align-items: center;
        justify-content: center;
        align-content: center;
      }
    }
  }

}

.placeholder {
  display: flex;
  background: #1e9ba0;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 1px;
  text-transform: capitalize;
  justify-content: center;
  text-align: center;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  /* & {
    
  } */

  h3 {
    margin: 0;
  }
}