span {
  text-justify: justify;
}

.tooltip>i {
  transition: all .5s;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip>i+.tooltipText::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip>i:hover+.tooltipText {
  visibility: visible;
}

.sucess {
  background-color: #1e9ba0;
}

.ifBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}