.item{
    display: grid;
    grid-template-rows: 95% 5%;
    width: 80%;
    margin: 2em auto;
}

.item_logo{
    margin: 1em auto;
}

.item_logo>img{
    width: 100%;
}

.title>p{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}